In [62]:
import pandas as pd
import numpy as np
import pdb
from tqdm import tqdm

In [34]:
diags_mimic = pd.read_csv('./physionet.org/files/mimiciv/2.2/hosp/diagnoses_icd.csv.gz')
diags_mimic = diags_mimic[diags_mimic['icd_version']==9]
diags_mimic

         subject_id   hadm_id  seq_num icd_code  icd_version
0          10000032  22595853        1     5723            9
1          10000032  22595853        2    78959            9
2          10000032  22595853        3     5715            9
3          10000032  22595853        4    07070            9
4          10000032  22595853        5      496            9
...             ...       ...      ...      ...          ...
4756321    19999987  23865745        7    41401            9
4756322    19999987  23865745        8    78039            9
4756323    19999987  23865745        9     0413            9
4756324    19999987  23865745       10    36846            9
4756325    19999987  23865745       11     7810            9

[2766877 rows x 5 columns]

In [32]:
icd_codes_csv = pd.read_csv('./physionet.org/files/mimiciv/2.2/hosp/d_icd_diagnoses.csv.gz')
icd_codes_csv

,icd_code,icd_version,long_title
0,0010,9,Cholera due to vibrio cholerae
1,0011,9,Cholera due to vibrio cholerae el tor
2,0019,9,"Cholera, unspecified"
3,0020,9,Typhoid fever
4,0021,9,Paratyphoid fever A
...,...,...,...
109770,Z992,10,Dependence on renal dialysis
109771,Z993,10,Dependence on wheelchair
109772,Z998,10,Dependence on other enabling machines and devices
109773,Z9981,10,Dependence on supplemental oxygen
109774,Z9989,10,Dependence on other enabling machines and devices

In [42]:
# add a column in the diags_mimic csv that corresponds to the descriptions
description_col = []
for _, row in diags_mimic.iterrows():
    icd_code = row['icd_code']
    description_col.append(list(icd_codes_csv[icd_codes_csv['icd_code']==icd_code]['long_title'])[0])
diags_mimic['description'] = description_col

In [43]:
diags_mimic

,subject_id,hadm_id,seq_num,icd_code,icd_version,description
0,10000032,22595853,1,5723,9,Portal hypertension
1,10000032,22595853,2,78959,9,Other ascites
2,10000032,22595853,3,5715,9,Cirrhosis of liver without mention of alcohol
3,10000032,22595853,4,07070,9,Unspecified viral hepatitis C without hepatic ...
4,10000032,22595853,5,496,9,"Chronic airway obstruction, not elsewhere clas..."
...,...,...,...,...,...,...
4756321,19999987,23865745,7,41401,9,Coronary atherosclerosis of native coronary ar...
4756322,19999987,23865745,8,78039,9,Other convulsions
4756323,19999987,23865745,9,0413,9,Friedländer's bacillus infection in conditions...
4756324,19999987,23865745,10,36846,9,Homonymous bilateral field defects
4756325,19999987,23865745,11,7810,9,Abnormal involuntary movements

In [44]:
diags_mimic.to_csv('diagnosis_detailed.csv', index=False)

In [46]:
diag_detailed = pd.read_csv('diagnosis_detailed.csv')
diag_detailed

,subject_id,hadm_id,seq_num,icd_code,icd_version,description
0,10000032,22595853,1,5723,9,Portal hypertension
1,10000032,22595853,2,78959,9,Other ascites
2,10000032,22595853,3,5715,9,Cirrhosis of liver without mention of alcohol
3,10000032,22595853,4,07070,9,Unspecified viral hepatitis C without hepatic ...
4,10000032,22595853,5,496,9,"Chronic airway obstruction, not elsewhere clas..."
...,...,...,...,...,...,...
2766872,19999987,23865745,7,41401,9,Coronary atherosclerosis of native coronary ar...
2766873,19999987,23865745,8,78039,9,Other convulsions
2766874,19999987,23865745,9,0413,9,Friedländer's bacillus infection in conditions...
2766875,19999987,23865745,10,36846,9,Homonymous bilateral field defects
2766876,19999987,23865745,11,7810,9,Abnormal involuntary movements

In [63]:
icd_9_frequencies = diag_detailed['icd_code'].value_counts().to_dict()
icd_9_frequencies = dict(sorted(icd_9_frequencies.items(), key=lambda item: item[1], reverse=True))
icd_9_frequencies = pd.DataFrame(list(icd_9_frequencies.items()), columns=['icd_code', 'frequency'])

descriptions = []

for _, row in tqdm(icd_9_frequencies.iterrows(), total=len(icd_9_frequencies), desc="Processing rows"):
    icd_code = row['icd_code']
    descriptions.append(list(diag_detailed[diag_detailed['icd_code']==icd_code]['description'])[0])

icd_9_frequencies['description'] = descriptions
icd_9_frequencies.to_csv('icd_9_frequencies.csv', index=False)

Processing rows: 100%|██████████| 9072/9072 [14:16<00:00, 10.60it/s]

# Testing

In [73]:
df = pd.read_csv('./physionet.org/files/mimiciv/2.2/hosp/emar.csv.gz')
df
# epinephrine

,subject_id,hadm_id,emar_id,emar_seq,poe_id,pharmacy_id,enter_provider_id,charttime,medication,event_txt,scheduletime,storetime
0,10000032,22595853.0,10000032-10,10,10000032-36,48770010.0,NaN,2180-05-07 00:44:00,Potassium Chloride,Administered,2180-05-07 00:44:00,2180-05-07 00:44:00
1,10000032,22595853.0,10000032-11,11,10000032-22,14779570.0,NaN,2180-05-07 00:44:00,Sodium Chloride 0.9% Flush,Flushed,2180-05-07 00:44:00,2180-05-07 00:44:00
2,10000032,22595853.0,10000032-12,12,10000032-37,93463122.0,NaN,2180-05-07 06:10:00,Ipratropium Bromide Neb,Administered,2180-05-07 06:00:00,2180-05-07 06:10:00
3,10000032,22595853.0,10000032-13,13,10000032-28,42497745.0,NaN,2180-05-07 05:00:00,Albuterol Inhaler,Administered,2180-05-07 06:29:00,2180-05-07 06:29:00
4,10000032,22595853.0,10000032-14,14,10000032-29,69131933.0,NaN,2180-05-07 07:51:00,Emtricitabine-Tenofovir (Truvada),Administered,2180-05-07 08:00:00,2180-05-07 07:56:00
...,...,...,...,...,...,...,...,...,...,...,...,...
26850354,19999828,NaN,19999828-4,4,19999828-15,NaN,NaN,2147-07-17 18:39:00,Morphine Sulfate,Administered,2147-07-17 18:39:00,2147-07-17 18:40:00
26850355,19999828,NaN,19999828-5,5,19999828-18,NaN,NaN,2147-07-17 18:39:00,NaN,Started,2147-07-17 18:39:00,2147-07-17 18:40:00
26850356,19999828,NaN,19999828-6,6,19999828-16,NaN,NaN,2147-07-17 18:39:00,Ondansetron,Administered,2147-07-17 18:39:00,2147-07-17 18:40:00
26850357,19999828,NaN,19999828-7,7,19999828-18,NaN,NaN,2147-07-17 20:50:00,NaN,Stopped,2147-07-17 20:50:00,2147-07-17 20:50:00
26850358,19999828,NaN,19999828-8,8,19999828-21,NaN,NaN,2147-07-17 21:36:00,Morphine Sulfate,Administered,2147-07-17 21:36:00,2147-07-17 21:36:00

In [76]:
df[(df['medication'].str.contains('epinephrine')) & df['medication'].notna()]

,subject_id,hadm_id,emar_id,emar_seq,poe_id,pharmacy_id,enter_provider_id,charttime,medication,event_txt,scheduletime,storetime
9928,10003637,NaN,10003637-440,440,10003637-743,98472164.0,NaN,2150-05-16 10:48:00,NORepinephrine,Started,2150-05-16 10:48:00,2150-05-16 10:48:00
9936,10003637,NaN,10003637-448,448,10003637-743,98472164.0,NaN,2150-05-16 22:08:00,NORepinephrine,Confirmed,2150-05-16 22:08:00,2150-05-16 22:08:00
9948,10003637,NaN,10003637-460,460,10003637-743,98472164.0,NaN,2150-05-17 08:26:00,NORepinephrine,Confirmed,2150-05-17 08:26:00,2150-05-17 08:27:00
9959,10003637,NaN,10003637-471,471,10003637-743,98472164.0,NaN,2150-05-17 20:42:00,NORepinephrine,Confirmed,2150-05-17 20:42:00,2150-05-17 20:42:00
9978,10003637,NaN,10003637-490,490,10003637-743,98472164.0,NaN,2150-05-18 09:09:00,NORepinephrine,Confirmed,2150-05-18 09:09:00,2150-05-18 09:10:00
...,...,...,...,...,...,...,...,...,...,...,...,...
26842941,19997473,27787494.0,19997473-190,190,19997473-281,95494852.0,NaN,2173-09-18 23:23:00,Norepinephrine,Started,2173-09-18 23:23:00,2173-09-18 23:30:00
26842944,19997473,27787494.0,19997473-193,193,19997473-281,95494852.0,NaN,2173-09-19 00:17:00,Norepinephrine,Stopped - Unscheduled,2173-09-19 00:17:00,2173-09-19 00:17:00
26845330,19997886,20793010.0,19997886-536,536,19997886-364,2721418.0,NaN,2186-12-06 17:32:00,NORepinephrine,Started,2186-12-06 17:32:00,2186-12-06 17:32:00
26845341,19997886,20793010.0,19997886-546,546,19997886-364,2721418.0,P0950Z,2186-12-07 01:12:00,NORepinephrine,Confirmed,2186-12-07 01:12:00,2186-12-07 01:12:00
26845353,19997886,20793010.0,19997886-557,557,19997886-364,NaN,NaN,2186-12-07 03:00:00,NORepinephrine,in Other Location,2186-12-07 03:00:00,2186-12-07 08:22:00

In [80]:
df[(df['medication'].str.contains('Vaso')) & df['medication'].notna()]

,subject_id,hadm_id,emar_id,emar_seq,poe_id,pharmacy_id,enter_provider_id,charttime,medication,event_txt,scheduletime,storetime
20378,10007818,22987108.0,10007818-334,334,10007818-310,1864464.0,NaN,2146-06-22 12:30:00,Vasopressin,Started,2146-06-22 12:30:00,2146-06-22 23:36:00
20379,10007818,22987108.0,10007818-335,335,10007818-310,1864464.0,NaN,2146-06-22 16:30:00,Vasopressin,Stopped - Unscheduled,2146-06-22 16:30:00,2146-06-22 23:37:00
20405,10007818,22987108.0,10007818-359,359,10007818-310,1864464.0,NaN,2146-06-23 03:15:00,Vasopressin,Restarted,2146-06-23 03:15:00,2146-06-23 03:45:00
20427,10007818,22987108.0,10007818-379,379,10007818-310,1864464.0,NaN,2146-06-23 07:27:00,Vasopressin,Confirmed,2146-06-23 07:27:00,2146-06-23 07:27:00
20457,10007818,22987108.0,10007818-406,406,10007818-310,1864464.0,NaN,2146-06-23 15:00:00,Vasopressin,Confirmed,2146-06-23 15:00:00,2146-06-23 15:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
26823731,19989783,26984195.0,19989783-521,521,19989783-538,83762575.0,NaN,2130-07-14 21:18:00,Vasopressin,Stopped - Unscheduled,2130-07-14 21:18:00,2130-07-14 21:18:00
26825601,19990427,29695607.0,19990427-327,327,19990427-241,13978382.0,NaN,2182-01-14 07:42:00,Vasopressin,Started,2182-01-14 07:42:00,2182-01-14 07:42:00
26825636,19990427,29695607.0,19990427-359,359,19990427-241,13978382.0,NaN,2182-01-14 19:16:00,Vasopressin,Confirmed,2182-01-14 19:16:00,2182-01-14 19:18:00
26825674,19990427,29695607.0,19990427-393,393,19990427-241,13978382.0,P76W7L,2182-01-15 09:19:00,Vasopressin,Confirmed,2182-01-15 09:19:00,2182-01-15 09:20:00
26825688,19990427,29695607.0,19990427-405,405,19990427-241,13978382.0,P76W7L,2182-01-15 15:00:00,Vasopressin,Stopped - Unscheduled,2182-01-15 15:00:00,2182-01-15 15:46:00

# Extracting and Mapping Lab Items

In [112]:
# only look at patients with pneumonia (486) -- 8547 patients
diags_filtered = diags_mimic[(diags_mimic['icd_code']=='486')]

In [113]:
# diags_filtered.to_csv('patient_info_pneumonia_hypoxemia.csv', index=False)
subject_id_list = list(set(diags_filtered['subject_id']))

In [115]:
len(subject_id_list)

8547

In [86]:
items_mapping = pd.read_csv('./physionet.org/files/mimiciv/2.2/hosp/d_labitems.csv.gz')
lab_events = pd.read_csv('./physionet.org/files/mimiciv/2.2/hosp/labevents.csv.gz')

In [89]:
items_mapping

      itemid                                label  fluid   category
0      50801           Alveolar-arterial Gradient  Blood  Blood Gas
1      50802                          Base Excess  Blood  Blood Gas
2      50803  Calculated Bicarbonate, Whole Blood  Blood  Blood Gas
3      50804                 Calculated Total CO2  Blood  Blood Gas
4      50805                    Carboxyhemoglobin  Blood  Blood Gas
...      ...                                  ...    ...        ...
1617   53150                             Anti Hbs  Blood  Chemistry
1618   53151                              Anti-la  Blood  Chemistry
1619   53152                            HIV FINAL  Blood  Chemistry
1620   53153                           HIV Screen  Blood  Chemistry
1621   53154                              Lactate  Blood  Chemistry

[1622 rows x 4 columns]

In [90]:
lab_events

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,1,10000032,NaN,45421181,51237,P28Z0X,2180-03-23 11:51:00,2180-03-23 15:15:00,1.4,1.40,NaN,0.9,1.1,abnormal,ROUTINE,NaN
1,2,10000032,NaN,45421181,51274,P28Z0X,2180-03-23 11:51:00,2180-03-23 15:15:00,___,15.10,sec,9.4,12.5,abnormal,ROUTINE,VERIFIED.
2,3,10000032,NaN,52958335,50853,P28Z0X,2180-03-23 11:51:00,2180-03-25 11:06:00,___,15.00,ng/mL,30.0,60.0,abnormal,ROUTINE,NEW ASSAY IN USE ___: DETECTS D2 AND D3 25-OH ...
3,4,10000032,NaN,52958335,50861,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:40:00,102,102.00,IU/L,0.0,40.0,abnormal,ROUTINE,NaN
4,5,10000032,NaN,52958335,50862,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:40:00,3.3,3.30,g/dL,3.5,5.2,abnormal,ROUTINE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118171362,118352501,19999987,23865745.0,85842100,51279,NaN,2145-11-09 05:30:00,2145-11-09 07:06:00,3.52,3.52,m/uL,4.2,5.4,abnormal,ROUTINE,NaN
118171363,118352502,19999987,23865745.0,85842100,51301,NaN,2145-11-09 05:30:00,2145-11-09 07:06:00,5.7,5.70,K/uL,4.0,11.0,NaN,ROUTINE,NaN
118171364,118352503,19999987,NaN,12592768,50912,P09IS0,2146-02-07 11:13:00,2146-02-07 16:26:00,1.1,1.10,mg/dL,0.4,1.1,NaN,ROUTINE,NaN
118171365,118352504,19999987,NaN,12592768,50920,P09IS0,2146-02-07 11:13:00,2146-02-07 16:26:00,NaN,NaN,NaN,NaN,NaN,NaN,ROUTINE,"Using this patient's age, gender, and serum cr..."
118171366,118352505,19999987,NaN,12592768,51006,P09IS0,2146-02-07 11:13:00,2146-02-07 16:26:00,14,14.00,mg/dL,6.0,20.0,NaN,ROUTINE,NaN

In [117]:
lab_events_per_patient = pd.merge(diags_filtered, lab_events, on='subject_id', how='inner')

Merging:   0%|          | 0/10634 [02:28<?, ?it/s]

KeyboardInterrupt:

In [ ]:
# insert a column that maps 'itemid' to its English 'label'
lab_events_per_patient = pd.merge(lab_events_per_patient, items_mapping, on='itemid', how='inner')

In [96]:
# add a column with patient age
patient_info = pd.read_csv('./physionet.org/files/mimiciv/2.2/hosp/patients.csv.gz')

In [ ]:
patient_info[['subject_id', 'anchor_age']]

        subject_id  anchor_age
0         10000032          52
1         10000048          23
2         10000068          19
3         10000084          72
4         10000102          27
...            ...         ...
299707    19999828          46
299708    19999829          28
299709    19999840          58
299710    19999914          49
299711    19999987          57

[299712 rows x 2 columns]

In [101]:
lab_events_per_patient = pd.merge(lab_events_per_patient, patient_info[['subject_id', 'anchor_age']], on='subject_id', how='inner')

In [107]:
test = lab_events_per_patient.groupby(['subject_id', 'hadm_id_x'], as_index=False)

In [110]:
lab_events_per_patient

,subject_id,hadm_id_x,seq_num,icd_code,icd_version,description,labevent_id,hadm_id_y,specimen_id,itemid,...,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,label,fluid,category,anchor_age
0,10000764,27897940,9,79902,9,Hypoxemia,2473,NaN,6228584,51146,...,%,0.0,2.0,NaN,STAT,NaN,Basophils,Blood,Hematology,86
1,10000764,27897940,9,79902,9,Hypoxemia,2504,27897940.0,26598444,51146,...,%,0.0,2.0,NaN,STAT,NaN,Basophils,Blood,Hematology,86
2,10000764,27897940,9,79902,9,Hypoxemia,2474,NaN,6228584,51200,...,%,0.0,4.0,NaN,STAT,NaN,Eosinophils,Blood,Hematology,86
3,10000764,27897940,9,79902,9,Hypoxemia,2505,27897940.0,26598444,51200,...,%,0.0,4.0,NaN,STAT,NaN,Eosinophils,Blood,Hematology,86
4,10000764,27897940,9,79902,9,Hypoxemia,2475,NaN,6228584,51221,...,%,40.0,52.0,NaN,STAT,NaN,Hematocrit,Blood,Hematology,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38459547,19742533,24037665,2,79902,9,Hypoxemia,115184775,NaN,85642120,51085,...,+/-,NaN,NaN,NaN,STAT,"NEGATIVE. FOR QUANTITATION OF POSITIVES, SEND...","HCG, Urine, Qualitative",Urine,Chemistry,19
38459548,19742533,24037665,2,79902,9,Hypoxemia,115184815,NaN,49648032,51085,...,+/-,NaN,NaN,NaN,STAT,"NEGATIVE. FOR QUANTITATION OF POSITIVES, SEND...","HCG, Urine, Qualitative",Urine,Chemistry,19
38459549,19742533,24037665,2,79902,9,Hypoxemia,115184766,NaN,39532616,51501,...,#/hpf,NaN,NaN,NaN,STAT,<1.,Transitional Epithelial Cells,Urine,Hematology,19
38459550,19742533,24037665,2,79902,9,Hypoxemia,115184789,NaN,32010058,51501,...,#/hpf,NaN,NaN,NaN,STAT,<1.,Transitional Epithelial Cells,Urine,Hematology,19
38459551,19742533,24037665,2,79902,9,Hypoxemia,115184808,NaN,37660196,51501,...,#/hpf,NaN,NaN,NaN,STAT,NaN,Transitional Epithelial Cells,Urine,Hematology,19

In [111]:
lab_events_per_patient.to_csv('all_info.csv', index=False)

In [122]:
df = pd.read_csv('./all_info_csv/all_info.csv')
df = df[df['description']=='Pneumonia, organism unspecified']
df

/var/folders/rn/scy6ltdn1374gwc_l7grnh1w0000gp/T/ipykernel_9337/2817809761.py:1: DtypeWarning: Columns (10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./all_info_csv/all_info.csv')

,subject_id,hadm_id_x,seq_num,icd_code,icd_version,description,labevent_id,hadm_id_y,specimen_id,itemid,...,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,label,fluid,category,anchor_age
175,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",2653,NaN,80809780,51146,...,%,0.0,2.0,NaN,STAT,NaN,Basophils,Blood,Hematology,32
176,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",2998,NaN,92186389,51146,...,%,0.0,2.0,NaN,ROUTINE,NaN,Basophils,Blood,Hematology,32
177,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",3158,21086876.0,89688718,51146,...,%,0.0,2.0,NaN,ROUTINE,NaN,Basophils,Blood,Hematology,32
178,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",3198,21086876.0,1384612,51146,...,%,0.0,2.0,NaN,ROUTINE,NaN,Basophils,Blood,Hematology,32
179,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",3318,28289260.0,72235133,51146,...,%,0.0,2.0,NaN,STAT,NaN,Basophils,Blood,Hematology,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38459464,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116230324,27291871.0,738646,50867,...,IU/L,0.0,100.0,NaN,STAT,NaN,Amylase,Blood,Chemistry,70
38459465,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116230367,27291871.0,7610454,50867,...,IU/L,0.0,100.0,NaN,STAT,NaN,Amylase,Blood,Chemistry,70
38459466,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116229831,27291871.0,8837233,51613,...,mg/dL,91.0,123.0,NaN,ROUTINE,___,eAG,Blood,Chemistry,70
38459467,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116230264,27291871.0,3161467,50803,...,mEq/L,21.0,30.0,NaN,NaN,NaN,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,70
38459468,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116230394,27291871.0,86198879,50803,...,mEq/L,21.0,30.0,NaN,NaN,NaN,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,70

In [123]:
df.to_csv('all_info_pneumonia.csv', index=False)

In [125]:
t = pd.read_csv('./all_info/all_info_pneumonia.csv')
t

/var/folders/rn/scy6ltdn1374gwc_l7grnh1w0000gp/T/ipykernel_9337/3025286739.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  t = pd.read_csv('./all_info/all_info_pneumonia.csv')

,subject_id,hadm_id_x,seq_num,icd_code,icd_version,description,labevent_id,hadm_id_y,specimen_id,itemid,...,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,label,fluid,category,anchor_age
0,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",2653,NaN,80809780,51146,...,%,0.0,2.0,NaN,STAT,NaN,Basophils,Blood,Hematology,32
1,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",2998,NaN,92186389,51146,...,%,0.0,2.0,NaN,ROUTINE,NaN,Basophils,Blood,Hematology,32
2,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",3158,21086876.0,89688718,51146,...,%,0.0,2.0,NaN,ROUTINE,NaN,Basophils,Blood,Hematology,32
3,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",3198,21086876.0,1384612,51146,...,%,0.0,2.0,NaN,ROUTINE,NaN,Basophils,Blood,Hematology,32
4,10000826,20032235,2,486,9,"Pneumonia, organism unspecified",3318,28289260.0,72235133,51146,...,%,0.0,2.0,NaN,STAT,NaN,Basophils,Blood,Hematology,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26653149,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116230324,27291871.0,738646,50867,...,IU/L,0.0,100.0,NaN,STAT,NaN,Amylase,Blood,Chemistry,70
26653150,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116230367,27291871.0,7610454,50867,...,IU/L,0.0,100.0,NaN,STAT,NaN,Amylase,Blood,Chemistry,70
26653151,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116229831,27291871.0,8837233,51613,...,mg/dL,91.0,123.0,NaN,ROUTINE,___,eAG,Blood,Chemistry,70
26653152,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116230264,27291871.0,3161467,50803,...,mEq/L,21.0,30.0,NaN,NaN,NaN,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,70
26653153,19824445,27291871,2,486,9,"Pneumonia, organism unspecified",116230394,27291871.0,86198879,50803,...,mEq/L,21.0,30.0,NaN,NaN,NaN,"Calculated Bicarbonate, Whole Blood",Blood,Blood Gas,70